body {
  text-align: center;
  align-items: center;
  align-content: center;
  background-color: #1a1c1d;
}

.influencer-body {
  min-height: 1000vh;
  background-image:url("./data/influencer.png");
}

.app-body {
  min-height: 87vh;
  margin-top: 10vh;
  color: white;
  align-items: center;
}

footer{
  color: dimgray;
  height: 3vh;
  background-color:black;
} 

.App-link {
  color: #09d3ac;
}

.navbar{
  min-height: 5vh;
}

#cover-img{
  margin-top: 5vh;
  max-height: 40vh;
}

#caption-img{
  margin-top: 0;
  color:dimgray;
  font-size: 80%;
  font-style: italic;
  text-align: center;
}

#mapid{
  align-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 5vh;
  margin-top: 5vh;
  max-width: 90vw;
  max-height: 70vh;
}

p {
  text-align: justify;
  margin: 0 auto;
  max-width: 50vw;
  margin-top: 5vh;
  display: inline-block;
}
